.swiper {
    margin: 100px auto;
    width: 25rem;
    height: 25rem;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-slide img { 
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
